@media only screen and (max-width: 859px){

    *{
        box-sizing:border-box;
    }

    body {
        margin: auto;
    }

    .navbar {
        text-align: center;
        height:auto;
        width: 100%;
    }
    
    .nav-content {
        max-width: auto;
        margin: auto;
    }
    
    h1 {
        font-size: 25px;
    }
    
    .my-name {
        padding-left: 10px;
        padding-top: 25px;
        padding-bottom: 10px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    
    h2 {
        font-size: 15px;
    }

    .tabs {
        flex-wrap: wrap;
        font-size: 15px;
        justify-content: center;
        max-inline-size: 25%;
        padding: 10px;
        margin-left: auto;
        line-height: 1.5em;
    }

    .tabs div {
        padding-left: 10%;
        padding-right: 10%;
    }

    .main-content{
        max-width: auto;
        padding-left:10px;
        flex-wrap: wrap;
    }

    .header{ 
        max-width: auto;
        padding-left: 10px;
        display:flex;
        flex-wrap: wrap;
        padding-top: 5%;
        padding-bottom: 5%;
        height: 100%;
        margin-top: 10px;
    }

    .myphoto img {
        margin-right: 5%;
        margin-bottom: 10px;
        width: 40%;
        height: 40%;
    }

    .paragraphs {
        margin-top: 15px;
        font-size: 12px;
    }

    footer{
        margin-top: 2px;
        height: auto;
        padding: 2%;
    }

    .quote {
        font-size: 10px;
    }

    .portfolio-link{
        border-left: lightgray 0.25px solid;
        border-right: none;
    }

    .portfolio-image {
        float:left;
        margin:20px;
        max-width:30%;
        max-height:30%;
    }

    .caption {
        bottom: 50%;
        height: 50%;
        padding: 1%;
        font-size: 75%;
    }
    
    .contact-form{ 
        width: 90%;
    }

    input {
        font-size:10px;
    }
    
    h3 {
        font-size: 12px;
    }

    #messageinput {
        height: auto;
        min-height: 80px;
    }
    
    #submit input {
        font-size:75%;
    }

    .tabs a:visited {
        color: inherit;
    }

    .myphoto img:hover{
        width: 40%;
        height: 40%;
        margin-right: 5%;
        margin-bottom:10px;
    }
    
    .quote a:hover{ 
        font-weight: normal;
    }

}
